*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*/build
*/release
/release
*.apk
app/release/app-release.apk

*/release
app/release

app/src/main/assets/apps/H59B14C5E/www/
app/src/main/assets/apps
.idea